@import "tailwindcss";

/* Fix the white overscroll bounce and set default background */
html, body {
  background-color: #0d0508;
  color: #ffffff;
  overscroll-behavior-y: none;
}

/* Map route animation for the polyline */
.animated-route {
  stroke-dasharray: 15, 15;
  animation: moveRoute 1.5s linear infinite;
}

@keyframes moveRoute {
  to {
    stroke-dashoffset: -30;
  }
}